In [307]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

import statsmodels
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [132]:
def record_deets(df, major, minor):
    if 'DocumentDate' in df:
        return df.loc[(df.Major == major) & (df.Minor == minor)].sort_values('DocumentDate')
    return df.loc[(df.Major == major) & (df.Minor == minor)]

In [59]:
def lookup(colvalue):
    return lookupdf.loc[(lookupdf.LUType == colvalue)]

---

## REAL PROPERTY SALES DATASET

In [ ]:
! wget -P ../../data/raw https://aqua.kingcounty.gov/extranet/assessor/Real%20Property%20Sales.zip

In [ ]:
! unzip -o ../../data/raw/"Real Property Sales.zip"

In [80]:
real_prop_sales_df = pd.read_csv('../../data/EXTR_RPSale.csv', encoding='latin-1')

/Users/oz/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [145]:
real_prop_sales_df['DocumentDate'] = pd.to_datetime(real_prop_sales_df.DocumentDate)

In [146]:
real_prop_sales_df

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,PlatLot,PlatBlock,SellerName,BuyerName,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,2671216,98400,380,2014-04-02,0,20140602000186,,,,,,,DWORSHAK LYNDEE MARIE,DWORSHAK MICHAEL J,3,6,15,N,N,N,N,11,8,18 31 38
1,2201052,889980,280,2006-03-03,0,20060420001615,,,,,,,MOORE JEFFERY A,HAMPTON JAMES W+VICTORIA A,3,2,15,N,N,N,N,14,3,18 31 51 52
2,2548641,330395,1610,2012-06-07,335000,20120615000867,,,,,,,THORSON CONNIE+TODD,YATTEAU PAUL A+TAMARA J,3,6,3,N,N,N,N,1,8,
3,1598443,675260,940,1998-03-06,209950,199803122092,165,041,675260,P,94,,HART JOHN W II+ANDREA T,HANSON KEVIN P+JENNA M,3,6,3,N,N,N,N,1,8,
4,2339550,795508,170,2008-03-28,0,20080331002272,,,,,,,SCHWEIGER MICHAEL M,SCHWEIGER MICHAEL W,3,6,15,N,N,N,N,18,8,18 31 51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2108511,2129741,110200,560,2005-04-11,0,20050610000684,,,,,,,SAVAGE SHIRLEY ANN,SAVAGE BARRY,3,6,15,N,N,N,N,11,8,18 31 38
2108512,2302750,129280,130,2007-07-30,315000,20070803001289,,,,,,,KAUR HARMEET,TOTH OTTO+ERZSEBET,3,2,3,N,N,N,N,1,3,
2108513,1342335,537980,545,1993-11-08,0,199311160374,902,176,537980,U,31,5,BROWN NANCY K+GATH FREDERICK J,GATH NELLIE P,3,0,15,N,N,N,N,9,8,11
2108514,2116711,395610,60,2005-04-19,543000,20050420001846,,,,,,,SHARP KEVAN+MARGARET,THEMIGROUP INC,3,6,3,N,N,N,N,1,8,40
2108515,2511628,732770,12,2011-09-27,0,20110928001030,,,,,,,NORTHWEST TRUSTEE SERVICES INC,US BANK NATIONAL ASSOCIATION,3,6,18,N,N,N,N,4,8,31

In [175]:
lookup(6) # Sale instrument

      LUType  LUItem                                       LUDescription
1002       6       1  None
1003       6      10  Real Estate Contract
1004       6      11  Purchaser's Assignment
1005       6      13  Seller's Assignment
1006       6      15  Quit Claim Deed
1007       6      18  Trustees' Deed
1008       6      19  Executor's Deed
1009       6       2  Warranty Deed
1010       6      20  Fiduciary Deed
1011       6      21  Sheriff's Deed
1012       6      22  Bargain and Sales Deed
1013       6      23  Receivers Deed
1014       6      24  Deed of Personal Rep
1015       6      25  Judgment Per Stipulation
1016       6      26  Other - See Affidavit
1017       6      27  DEED
1018       6      28  Forfeiture Real Estate Contract
1019       6       3  Statutory Warranty Deed
1020       6       4  Special Warranty Deed
1021       6       5  Corporate Warranty Deed
1022       6       6  Assumption Warranty Deed
1023       6       7  Grant Deed
1024       6       8  Contract (equity)
1025       6       9  Contract (installment)

In [199]:
lookup(5) # sale reason

     LUType  LUItem                                       LUDescription
945       5       1  None
946       5      10  Property Settlement
947       5      11  Divorce Settlement
948       5      12  Tenancy Partition
949       5      13  Community Prop Established
950       5      14  Partial Int - love,aff,gft
951       5      15  Easement
952       5      16  Correction (refiling)
953       5      17  Trade
954       5      18  Other
955       5      19  Quit Claim Deed - gift/full or part interest
956       5       2  Assumption
957       5       3  Mortgage Assumption
958       5       4  Foreclosure
959       5       5  Trust
960       5       6  Executor-to admin guardian
961       5       7  Testamentary Trust
962       5       8  Estate Settlement
963       5       9  Settlement

In [163]:
real_prop_sale_less_10000 = real_prop_sales_df.loc[(real_prop_sales_df.SalePrice > 0) & (real_prop_sales_df.SalePrice <= 10000)]

In [164]:
real_prop_sale_less_10000.SaleReason.value_counts()

1     6501
0     4861
18    3643
14     770
8      281
4      278
9      262
5      253
16     132
10     107
15      92
11      60
13      57
17      36
12      31
19      16
6       15
2       14
7        6
Name: SaleReason, dtype: int64

In [157]:
lookup(5)

     LUType  LUItem                                       LUDescription
945       5       1  None
946       5      10  Property Settlement
947       5      11  Divorce Settlement
948       5      12  Tenancy Partition
949       5      13  Community Prop Established
950       5      14  Partial Int - love,aff,gft
951       5      15  Easement
952       5      16  Correction (refiling)
953       5      17  Trade
954       5      18  Other
955       5      19  Quit Claim Deed - gift/full or part interest
956       5       2  Assumption
957       5       3  Mortgage Assumption
958       5       4  Foreclosure
959       5       5  Trust
960       5       6  Executor-to admin guardian
961       5       7  Testamentary Trust
962       5       8  Estate Settlement
963       5       9  Settlement

In [82]:
real_prop_sales_df.SaleReason.value_counts()

1     1242659
18     259732
5       98237
10      85581
8       78032
13      60939
9       55421
14      53378
4       52982
11      41283
16      32629
0       20335
12      12772
17       3396
6        3297
2        3294
19       2738
7        1327
15        367
3         117
Name: SaleReason, dtype: int64

looking up what the 'other' sale reason is

In [158]:
real_prop_sales_df.loc[(real_prop_sales_df.SaleReason == 18)]

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,PlatLot,PlatBlock,SellerName,BuyerName,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
4,2339550,795508,170,2008-03-28,0,20080331002272,,,,,,,SCHWEIGER MICHAEL M,SCHWEIGER MICHAEL W,3,6,15,N,N,N,N,18,8,18 31 51
38,2507895,350160,125,2011-08-24,0,20110831001361,,,,,,,FEDERAL HOME LOAN MORTGAGE CORP,COLE BRIAN E,3,6,22,N,N,N,N,18,8,16 31
45,2897898,766370,622,2017-10-25,479000,20171027001566,,,,,,,SILVEIRA SUSAN-PR,ATKINSON JACOB,3,6,3,N,N,N,N,18,8,12
51,1690899,744950,5,1999-06-10,0,199906111824,012,004,744950,P,1 THRU 4,C,BACKUS L M+BACKUS M F,LAUGHLIN BETTY T+BANK OF AMERICA,3,11,15,N,N,N,N,18,2,31 45
52,1690899,744950,40,1999-06-10,0,199906111824,012,004,744950,P,1 THRU 4,C,BACKUS L M+BACKUS M F,LAUGHLIN BETTY T+BANK OF AMERICA,3,11,15,N,N,N,N,18,2,31 45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2108437,2451802,92105,9022,2010-06-18,0,20100727000940,,,,,,,VALLEY REGIONAL FIRE AUTHORITY,AUBURN CITY OF,1,11,27,N,N,N,N,18,1,16 31
2108447,2911646,602150,3865,2018-01-10,0,20180122000738,,,,,,,LARSEN RONALDC GENE+CATHERINE,GOLDSMITH JACQUELYNN,3,6,15,N,N,N,N,18,8,18 31 51 52
2108450,1320228,614560,2810,1993-07-14,0,199307210910,018,076,614560,P,3,23,ODEGAARD MARY J,ODEGAARD BIRGER PAUL+MARY J,3,0,15,N,N,N,N,18,8,11
2108453,1863031,305700,140,2002-01-11,0,20020116001266,,,,,,,BELM KENNETH R SR,BEHM RHONDA,3,2,15,N,N,N,N,18,3,31 51 52
2108475,3061762,395580,150,2020-06-19,0,,,,,,,,CEDENO-BETANCOURT EDUARDO+KARI JO+ET AL,CEDENO-BETANCOURT EDUARDO+KARI JO,11,6,15,N,N,N,N,18,8,

In [153]:
lookup(2) #

     LUType  LUItem                                       LUDescription
804       2       1  AGRICULTURAL
805       2      10  OTHER
806       2      11  COMMERCIAL/INDUSTRIAL
807       2       2  CONDOMINIUM
808       2       3  RECREATIONAL
809       2       4  APT(4+ UNITS)
810       2       5  INDUSTRIAL
811       2       6  RESIDENTIAL
812       2       7  COMMERCIAL
813       2       8  MOBILE HOME
814       2       9  TIMBER

In [154]:
real_prop_sales_df.PrincipalUse.value_counts()

6     1353719
0      322493
2      309641
11      46466
7       44775
4       12487
10      10078
9        5030
1        1762
3        1156
8         467
5         442
Name: PrincipalUse, dtype: int64

In [155]:
real_prop_sales_df.loc[(real_prop_sales_df.PrincipalUse == 0)]

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,PlatLot,PlatBlock,SellerName,BuyerName,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
35,1328849,666902,170,1993-08-18,143000,199309021006,106,040,666902,P,17,,DIAMOND INVESTMENT CORP,ARNTZEN BUNNIE J,3,0,2,N,N,N,N,1,8,
36,1290658,885763,70,1993-01-07,54900,199301251159,025,031,885763,C,UNIT 203,A,RUSTEN RAYMOND+SARA J,HARPER BRANDON R,3,0,2,N,N,N,N,1,3,
61,695296,286790,25,1982-11-09,93000,198211120615,058,054,286790,P,05,,THORNTON TOM F+MINNIE,HAVERS MICHAEL J+KATHLEEN E,3,0,2,N,N,N,,1,8,
63,1330210,332305,9028,1993-09-07,0,199309130703,000,000,000000,,,,WATSON RICKY DONALD,WATSON RICKY DONALD+SHANNON C,3,0,15,N,N,N,N,9,8,11
69,992784,788360,3551,1988-03-25,60000,198803311342,004,087,788360,P,01-03 PT,20,PETERSON GERALD W,BOWMAN JERRY A,3,0,11,N,N,N,N,1,8,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2108471,1245715,332775,80,1992-04-23,0,199205071441,084,039,332775,P,08,,NELSON ERIC B,NELSON SHARON E,3,0,15,N,N,N,N,9,8,11
2108474,878770,23900,512,1986-05-22,113500,198605300001,902,013,023900,U,TR 109 PT,,BLOMBERG CHARLES A+VERIAN L,COLACARRO MICHAEL A+HELEN F,3,0,2,N,N,N,N,1,8,
2108484,1324375,774050,5,1993-08-09,282000,199308111879,044,002,774050,P,1-2,9,CARNEY THOMAS R+ARVILLA N,FEINBERG MICHAEL M+MARGARET,3,0,2,N,N,N,N,1,8,
2108485,920379,381670,45,1986-12-31,46000,198612313696,051,055,381670,P,09,01,PRANGE MARILYN S,SELFRIDGE PATRICK P,1,0,2,N,N,N,N,1,7,
2108513,1342335,537980,545,1993-11-08,0,199311160374,902,176,537980,U,31,5,BROWN NANCY K+GATH FREDERICK J,GATH NELLIE P,3,0,15,N,N,N,N,9,8,11

In [156]:
record_deets(real_prop_sales_df, 666902, 170)

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,PlatLot,PlatBlock,SellerName,BuyerName,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
1021659,1258546,666902,170,1992-07-20,0,199207212408,106,040,666902,P,17,,AMERICAN TRUSTEE INC,DIAMOND TRUST CO,3,0,18,N,N,N,N,18,8,13
1949301,1328847,666902,170,1993-07-20,0,199309021005,106,040,666902,P,17,,COYLE THOMAS E,DIAMOND INVESTMENT CORP,3,0,18,N,N,N,N,18,8,32
35,1328849,666902,170,1993-08-18,143000,199309021006,106,040,666902,P,17,,DIAMOND INVESTMENT CORP,ARNTZEN BUNNIE J,3,0,2,N,N,N,N,1,8,
540579,2254414,666902,170,2006-12-05,325000,20061207001888,,,,,,,ARNTZEN BUNNIE J,THORLACIUS WADE+KRISTIE+CLEAVER GREGORY,3,6,3,N,N,N,N,1,8,
1431658,2877570,666902,170,2017-07-12,127398,,,,,,,,CLEAVER GREGORY+THORLACIUS KRISTIE,THORLACIUS WADE,11,6,15,N,N,N,N,18,8,18 51 52
404573,2967702,666902,170,2018-12-19,428000,20181224000541,,,,,,,THORLACIUS WADE,MCVEY CLAYTON P+RIBA NOEL K,11,6,3,N,N,N,N,1,8,

In [98]:
real_prop_sales_df.PropertyType.value_counts()[:10]

3     1549516
1      193880
2      169975
11     103201
0       43717
14      15616
4       10939
10       5143
6        4764
91       3204
Name: PropertyType, dtype: int64

In [96]:
real_prop_sales_df.Major.value_counts()

0         9361
375160    4916
276760    4393
343850    4316
510140    4172
          ...
617330       1
530320       1
781350       1
519700       1
312108       1
Name: Major, Length: 28751, dtype: int64

In [85]:
real_prop_sales_df.Minor.value_counts()

10      37952
20      37927
30      36722
40      35665
50      33977
        ...
1653        1
0949        1
5010        1
6880        1
7660        1
Name: Minor, Length: 11281, dtype: int64

In [86]:
real_prop_sales_df.ExciseTaxNbr.value_counts()

2639648    689
2673898    685
866727     678
2003154    274
2003168    267
          ...
2179426      1
2181475      1
2191716      1
2193765      1
692562       1
Name: ExciseTaxNbr, Length: 1928533, dtype: int64

In [87]:
real_prop_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2108516 entries, 0 to 2108515
Data columns (total 24 columns):
 #   Column              Dtype
---  ------              -----
 0   ExciseTaxNbr        int64
 1   Major               object
 2   Minor               object
 3   DocumentDate        object
 4   SalePrice           int64
 5   RecordingNbr        object
 6   Volume              object
 7   Page                object
 8   PlatNbr             object
 9   PlatType            object
 10  PlatLot             object
 11  PlatBlock           object
 12  SellerName          object
 13  BuyerName           object
 14  PropertyType        int64
 15  PrincipalUse        int64
 16  SaleInstrument      int64
 17  AFForestLand        object
 18  AFCurrentUseLand    object
 19  AFNonProfitUse      object
 20  AFHistoricProperty  object
 21  SaleReason          int64
 22  PropertyClass       int64
 23  SaleWarning         object
dtypes: int64(7), object(17)
memory usage: 386.1+ MB

In [143]:
real_prop_sales_df_extxnbr_2639648 = real_prop_sales_df.loc[(real_prop_sales_df.ExciseTaxNbr == 2639648)]
real_prop_sales_df_extxnbr_2639648

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,PlatLot,PlatBlock,SellerName,BuyerName,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
165889,2639648,71908,9002,11/05/2013,167576638,20131105001293,,,,,,,WHITE RIVER FORESTS LLC,MUCKLESHOOT FEDERAL CORPORATION,5,9,22,Y,N,N,N,1,0,27 45
165890,2639648,71908,9001,11/05/2013,167576638,20131105001293,,,,,,,WHITE RIVER FORESTS LLC,MUCKLESHOOT FEDERAL CORPORATION,5,9,22,Y,N,N,N,1,0,27 45
165891,2639648,72009,9001,11/05/2013,167576638,20131105001293,,,,,,,WHITE RIVER FORESTS LLC,MUCKLESHOOT FEDERAL CORPORATION,5,9,22,Y,N,N,N,1,0,27 45
165892,2639648,102007,9005,11/05/2013,167576638,20131105001293,,,,,,,WHITE RIVER FORESTS LLC,MUCKLESHOOT FEDERAL CORPORATION,5,9,22,Y,N,N,N,1,0,27 45
165893,2639648,102007,9015,11/05/2013,167576638,20131105001293,,,,,,,WHITE RIVER FORESTS LLC,MUCKLESHOOT FEDERAL CORPORATION,5,9,22,Y,N,N,N,1,0,27 45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168404,2639648,102007,9008,11/05/2013,167576638,20131105001293,,,,,,,WHITE RIVER FORESTS LLC,MUCKLESHOOT FEDERAL CORPORATION,5,9,22,Y,N,N,N,1,0,27 45
168405,2639648,102007,9019,11/05/2013,167576638,20131105001293,,,,,,,WHITE RIVER FORESTS LLC,MUCKLESHOOT FEDERAL CORPORATION,5,9,22,Y,N,N,N,1,0,27 45
168406,2639648,102007,9016,11/05/2013,167576638,20131105001293,,,,,,,WHITE RIVER FORESTS LLC,MUCKLESHOOT FEDERAL CORPORATION,5,9,22,Y,N,N,N,1,0,27 45
168407,2639648,102007,9012,11/05/2013,167576638,20131105001293,,,,,,,WHITE RIVER FORESTS LLC,MUCKLESHOOT FEDERAL CORPORATION,5,9,22,Y,N,N,N,1,0,27 45
168408,2639648,102007,9017,11/05/2013,167576638,20131105001293,,,,,,,WHITE RIVER FORESTS LLC,MUCKLESHOOT FEDERAL CORPORATION,5,9,22,Y,N,N,N,1,0,27 45

In [89]:
real_prop_sales_df_extxnbr_2639648.Major.value_counts()

22007     19
61909     16
142008    16
322008    16
51909     16
          ..
131909     1
232007     1
72009      1
142107     1
162009     1
Name: Major, Length: 98, dtype: int64

---

## RESIDENTIAL BUILDING DATASET

In [ ]:
! wget -P ../../data/raw https://aqua.kingcounty.gov/extranet/assessor/Residential%20Building.zip

In [ ]:
! unzip -o ../../data/raw/"Residential Building.zip"

In [90]:
res_bld_df = pd.read_csv('../../data/EXTR_ResBldg.csv')

/Users/oz/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [91]:
res_bld_df

,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,StreetType,DirectionSuffix,ZipCode,Stories,BldgGrade,BldgGradeVar,SqFt1stFloor,SqFtHalfFloor,SqFt2ndFloor,SqFtUpperFloor,SqFtUnfinFull,SqFtUnfinHalf,SqFtTotLiving,SqFtTotBasement,SqFtFinBasement,FinBasementGrade,SqFtGarageBasement,SqFtGarageAttached,DaylightBasement,SqFtOpenPorch,SqFtEnclosedPorch,SqFtDeck,HeatSystem,HeatSource,BrickStone,ViewUtilization,Bedrooms,BathHalfCount,Bath3qtrCount,BathFullCount,FpSingleStory,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,32604,9114,1,1,3520 NE 189TH PL 98155,3520,,NE,189TH,PL,,98155,1.0,7,0,1470,0,0,0,0,0,2250,780,780,6,0,530,Y,0,0,280,5,3,0,N,3,1,1,1,0,1,0,1,1975,0,0,0,0,3,0
1,32606,9012,1,1,23422 NE 188TH ST 98077,23422,,NE,188TH,ST,,98077,2.0,8,0,1340,0,990,0,0,0,2330,0,0,0,0,710,,0,0,0,5,2,0,,3,1,0,2,1,0,0,0,1991,0,0,0,0,3,0
2,32606,9039,1,1,19800 242ND AVE NE 98077,19800,,,242ND,AVE,NE,98077,2.0,9,0,1720,0,780,0,50,0,2450,0,0,0,0,0,,180,0,0,5,3,0,,3,0,0,2,0,0,0,0,2000,0,0,0,0,3,0
3,32606,9044,1,1,18917 244TH AVE NE 98077,18917,,,244TH,AVE,NE,98077,2.0,10,0,1860,0,1830,0,0,0,3690,0,0,0,0,950,,780,0,0,5,3,0,,4,1,0,3,2,0,0,0,2002,0,0,0,0,3,0
4,32606,9045,1,1,18926 240TH AVE NE 98077,18926,,,240TH,AVE,NE,98077,1.0,4,0,740,0,0,0,0,0,740,0,0,0,0,0,,0,0,220,8,7,0,,2,0,0,1,0,0,1,0,1974,0,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517778,334210,2385,1,1,3315 N PARK AVE 98056,3315,,N,PARK,AVE,,98056,1.0,8,0,1480,0,0,0,0,0,2200,720,720,7,0,0,Y,0,0,0,5,2,0,,4,1,1,1,1,0,0,0,1959,0,0,0,0,5,0
517779,334210,2486,1,1,910 N 33RD PL 98056,910,,N,33RD,PL,,98056,1.0,7,0,1210,0,0,0,0,0,1780,1090,570,7,520,0,Y,60,0,300,5,3,0,,4,0,2,1,1,0,0,0,1979,0,0,0,0,4,0
517780,334210,2520,1,1,907 N 35TH ST,907,,N,35TH,ST,,NaN,2.0,10,0,1510,0,1770,0,0,0,3280,0,0,0,0,500,,100,0,30,7,2,0,,4,0,1,2,3,0,0,1,2006,0,0,0,0,3,0
517781,334210,3208,1,1,1402 N 32ND ST 98056,1402,,N,32ND,ST,,98056,1.0,7,0,1100,0,0,0,0,0,1100,0,0,0,0,580,N,30,0,0,4,3,0,,4,0,0,1,0,0,1,0,1968,0,0,0,0,4,0
517782,334210,3217,1,1,1307 N 32ND ST 98056,1307,,N,32ND,ST,,98056,1.0,7,0,1320,0,0,0,0,0,1320,1060,0,0,0,0,N,0,0,0,5,1,0,N,3,0,0,1,1,0,0,0,1949,0,0,0,0,3,0

In [92]:
res_bld_df.NbrLivingUnits.value_counts()

1     508908
2       7091
3       1766
4         10
10         4
7          2
9          1
8          1
Name: NbrLivingUnits, dtype: int64

In [93]:
res_bld_df.Major.value_counts()

276760    1430
510140    1427
343850    1242
537980    1099
277060     999
          ...
284070       1
92409        1
171780       1
339540       1
885799       1
Name: Major, Length: 11619, dtype: int64

---

## PARCEL DATASET

In [ ]:
! wget -P ../../data/raw https://aqua.kingcounty.gov/extranet/assessor/Parcel.zip

In [ ]:
! unzip -o ../../data/raw/"Parcel.zip"

In [7]:
parceldf = pd.read_csv('../../data/EXTR_Parcel.csv', encoding='latin-1')

In [94]:
parceldf

,Major,Minor,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,QuarterSection,PropType,Area,SubArea,SpecArea,SpecSubArea,DistrictName,LevyCode,CurrentZoning,HBUAsIfVacant,HBUAsImproved,PresentUse,SqFtLot,WaterSystem,SewerSystem,Access,Topography,StreetSurface,RestrictiveSzShape,InadequateParking,PcntUnusable,Unbuildable,MtRainier,Olympics,Cascades,Territorial,SeattleSkyline,PugetSound,LakeWashington,LakeSammamish,SmallLakeRiverCreek,OtherView,WfntLocation,WfntFootage,WfntBank,WfntPoorQuality,WfntRestrictedAccess,WfntAccessRights,WfntProximityInfluence,TidelandShoreland,LotDepthFactor,TrafficNoise,AirportNoise,PowerLines,OtherNuisances,NbrBldgSites,Contamination,DNRLease,AdjacentGolfFairway,AdjacentGreenbelt,HistoricSite,CurrentUseDesignation,NativeGrowthProtEsmt,Easements,OtherDesignation,DeedRestrictions,DevelopmentRightsPurch,CoalMineHazard,CriticalDrainage,ErosionHazard,LandfillBuffer,HundredYrFloodPlain,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems
0,785662,370,Single Family Residence,SOMERSET HIGHLANDS NO. 03,37,1,5,24,15,SE,R,31.0,8.0,NaN,NaN,BELLEVUE,330,R-3.5,1,1,2,10300,2,2,4,0,1,0,0,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
1,990600,25,,ZWICKS 1ST ADD,5,1 &,3,25,13,NE,R,42.0,11.0,NaN,NaN,SEATTLE,10,SF 5000,1,1,2,5000,2,2,4,0,1,0,2,0,False,2,0,0,0,2,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
2,286210,320,,GRAHAMS A B UNIVERSITY ADD,16,3,4,25,8,SE,R,44.0,6.0,NaN,NaN,SEATTLE,10,SF 5000,1,1,2,4280,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
3,264800,225,duplex,FRENCHS ADD TO SLAUGHTER,6 THRU 9,2,5,21,18,NE,R,28.0,11.0,NaN,NaN,AUBURN,133,R10,6,1,3,12100,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,1,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
4,689181,90,,PRESTIGE HEIGHTS DIV NO 02,9,,4,26,2,SE,R,4.0,4.0,NaN,NaN,KENMORE,1442,R6,1,1,2,11554,2,2,4,0,1,0,0,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616105,940700,1210,,WILDERNESS RIM DIV NO. 01,121,,8,23,27,SW,R,80.0,7.0,NaN,NaN,KING COUNTY,6675,RA2.5,1,1,2,9750,2,1,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,Y,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
616106,113730,210,,BROOK TRAILS ESTATES,21,,6,26,18,SW,R,72.0,4.0,NaN,NaN,KING COUNTY,7570,RA5,1,1,2,29930,2,1,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y
616107,132405,9117,,NaN,,,5,24,13,NW,R,65.0,1.0,NaN,NaN,BELLEVUE,389,R-3.5,1,1,2,20240,2,2,4,0,1,0,0,0,False,0,0,0,2,0,0,0,1,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
616108,171190,142,,COLUMBIA VIEW TRACTS,1,5,4,24,21,NE,R,21.0,4.0,NaN,NaN,SEATTLE,10,SF 5000,1,1,300,3330,2,2,2,1,4,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
616109,751850,1690,,SALMON BAY PARK ADD,11-12,28,3,25,2,SE,R,19.0,10.0,NaN,NaN,SEATTLE,10,SF 5000,1,1,2,5100,2,2,4,0,1,0,0,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N

In [192]:
lookup(54)

     LUType  LUItem                                       LUDescription
981      54       1  UPLANDS ONLY
982      54       2  UPLANDS WITH TIDELANDS/SHORELANDS
983      54       3  TIDELANDS/SHORELANDS ONLY

In [189]:
lookup(53)

     LUType  LUItem                                       LUDescription
978      53       1  To Residence
979      53       2  To Waterfront
980      53       3  No Waterfront Access

In [182]:
lookup(104)

     LUType  LUItem                                       LUDescription
234     104       1  PRESENT USE
235     104       2  INTERIM USE
236     104       3  TEAR DOWN
237     104       4  OTHER

In [181]:
lookup(103)

     LUType  LUItem                                       LUDescription
213     103       1  SINGLE FAMILY
214     103      10  AMUSEMENT/ENTERTAINMENT
215     103      11  CULTURAL
216     103      12  EDUCATIONAL SERVICE
217     103      13  COMMERCIAL SERVICE
218     103      14  RETAIL/WHOLESALE
219     103      15  MANUFACTURING
220     103      16  AGRICULTURAL
221     103      17  FORESTRY
222     103      18  FISH & WILDLIFE MGMT
223     103      19  MINERAL
224     103       2  DUPLEX
225     103      20  REGIONAL LAND USE
226     103      21  MIXED USE
227     103       3  TRIPLEX
228     103       4  MOBILE HOME
229     103       5  OTHER SF DWELLING
230     103       6  MULTI-FAMILY DWELLING
231     103       7  GROUP RESIDENCE
232     103       8  TEMPORARY LODGING
233     103       9  PARK/RECREATION

In [180]:
lookup(102) # present use on parcel

     LUType  LUItem                                       LUDescription
84      102       0
85      102      10  Congregate Housing
86      102     101  Retail Store
87      102     104  Retail(Big Box)
88      102     105  Retail(Discount)
..      ...     ...                                                 ...
208     102      64  Shopping Ctr(Specialty)
209     102       7  Houseboat
210     102       8  Mobile Home
211     102       9  Single Family(C/I Use)
212     102      96  Retail(Line/Strip)

[129 rows x 3 columns]

# ---

Checking for duplex and single family residence:

In [166]:
parceldf.PropName.value_counts()

                            528645
Single Family Residence       9070
Single Family Residence       1686
VACANT LAND                   1606
Townhouse                     1540
                             ...
ARBOR VILLAGE - THE INN          1
ABBEY RIDGE APTS (KCHA)          1
Kirkland Terrace                 1
CHANDLERS BAY PHASE I            1
MAR-VAC                          1
Name: PropName, Length: 35237, dtype: int64

In [170]:
parcel_duplex = parceldf.loc[(parceldf.PropName == 'duplex')]

In [172]:
parcel_duplex.PropType.value_counts()

R    269
C      1
Name: PropType, dtype: int64

In [173]:
parcel_duplex

,Major,Minor,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,QuarterSection,PropType,Area,SubArea,SpecArea,SpecSubArea,DistrictName,LevyCode,CurrentZoning,HBUAsIfVacant,HBUAsImproved,PresentUse,SqFtLot,WaterSystem,SewerSystem,Access,Topography,StreetSurface,RestrictiveSzShape,InadequateParking,PcntUnusable,Unbuildable,MtRainier,Olympics,Cascades,Territorial,SeattleSkyline,PugetSound,LakeWashington,LakeSammamish,SmallLakeRiverCreek,OtherView,WfntLocation,WfntFootage,WfntBank,WfntPoorQuality,WfntRestrictedAccess,WfntAccessRights,WfntProximityInfluence,TidelandShoreland,LotDepthFactor,TrafficNoise,AirportNoise,PowerLines,OtherNuisances,NbrBldgSites,Contamination,DNRLease,AdjacentGolfFairway,AdjacentGreenbelt,HistoricSite,CurrentUseDesignation,NativeGrowthProtEsmt,Easements,OtherDesignation,DeedRestrictions,DevelopmentRightsPurch,CoalMineHazard,CriticalDrainage,ErosionHazard,LandfillBuffer,HundredYrFloodPlain,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems
4406,663230,644,duplex,PARAMOUNT PARK ADD,4,12,4,26,20,NE,R,7.0,6.0,NaN,NaN,SEATTLE,25,MR (M),6,2,3,6000,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,3,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
7910,145360,1621,duplex,CEDAR PARK,7,6,4,26,21,SE,R,8.0,1.0,NaN,NaN,SEATTLE,10,LR2 (M),6,2,3,6000,2,2,4,0,1,0,0,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,2,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
8600,277060,3525,duplex,GILMANS ADD BLKS 01 THRU 87,20-21,26,3,25,13,SW,R,12.0,2.0,NaN,NaN,SEATTLE,10,LR3 RC (M),1,1,29,1250,2,2,4,0,1,0,0,0,False,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
13015,269410,120,duplex,GARDEN BROOK DIV NO. 02,12,,5,24,15,NW,R,31.0,7.0,NaN,NaN,BELLEVUE,330,R-10,6,1,3,11178,2,2,4,0,1,0,0,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,1,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
14180,12505,9179,duplex,NaN,,,5,25,1,SE,R,72.0,6.0,NaN,NaN,REDMOND,2025,R12,6,1,3,7200,2,2,3,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606379,270060,180,duplex,GARDINERS ADD TO NORTH BEND,18-19-20,2,8,23,9,NE,R,80.0,3.0,NaN,NaN,NORTH BEND,1925,DC,6,2,3,10490,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
610056,99300,260,duplex,BOULEVARD PLACE ADD,4-5,5,4,26,31,SE,R,6.0,7.0,NaN,NaN,SEATTLE,10,LR2 (M),6,2,3,5125,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,Y,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
610489,431070,1455,duplex,LICTON SPRINGS PARK ADD,5-6,8,4,26,31,NE,R,6.0,7.0,NaN,NaN,SEATTLE,10,LR3 (M),6,2,3,5000,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
615926,337510,180,duplex,HILLSIDE EAST,18,,5,25,1,SE,R,72.0,6.0,NaN,NaN,REDMOND,2025,R12,6,1,3,9200,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
615955,678120,5,duplex,PIERSON KENNETH ADD,1,1,4,26,29,SW,R,6.0,5.0,NaN,NaN,SEATTLE,10,LR2 (M),1,1,29,1248,2,2,4,0,1,0,0,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N

In [174]:
record_deets(res_bld_df, 270060, 180)

,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,StreetType,DirectionSuffix,ZipCode,Stories,BldgGrade,BldgGradeVar,SqFt1stFloor,SqFtHalfFloor,SqFt2ndFloor,SqFtUpperFloor,SqFtUnfinFull,SqFtUnfinHalf,SqFtTotLiving,SqFtTotBasement,SqFtFinBasement,FinBasementGrade,SqFtGarageBasement,SqFtGarageAttached,DaylightBasement,SqFtOpenPorch,SqFtEnclosedPorch,SqFtDeck,HeatSystem,HeatSource,BrickStone,ViewUtilization,Bedrooms,BathHalfCount,Bath3qtrCount,BathFullCount,FpSingleStory,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
376630,270060,180,1,2,332 E 2ND ST 98045,332,,E,2ND,ST,,98045,1.0,6,0,2090,0,0,0,0,0,2090,0,0,0,0,260,N,340,0,120,1,1,0,N,5,1,1,2,0,0,0,0,1943,1959,0,0,0,3,0

# ---

In [111]:
parceldf.PropType.value_counts()

R    564657
C     44802
K      3672
T      1988
M       793
U       122
X        76
Name: PropType, dtype: int64

let's look at C, commercial.

ignore U and X for now, since they are so few.

In [ ]:
parceldf.loc[(parceldf.PropType == 'R')]

In [112]:
parceldf.loc[(parceldf.PropType == 'C')]

,Major,Minor,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,QuarterSection,PropType,Area,SubArea,SpecArea,SpecSubArea,DistrictName,LevyCode,CurrentZoning,HBUAsIfVacant,HBUAsImproved,PresentUse,SqFtLot,WaterSystem,SewerSystem,Access,Topography,StreetSurface,RestrictiveSzShape,InadequateParking,PcntUnusable,Unbuildable,MtRainier,Olympics,Cascades,Territorial,SeattleSkyline,PugetSound,LakeWashington,LakeSammamish,SmallLakeRiverCreek,OtherView,WfntLocation,WfntFootage,WfntBank,WfntPoorQuality,WfntRestrictedAccess,WfntAccessRights,WfntProximityInfluence,TidelandShoreland,LotDepthFactor,TrafficNoise,AirportNoise,PowerLines,OtherNuisances,NbrBldgSites,Contamination,DNRLease,AdjacentGolfFairway,AdjacentGreenbelt,HistoricSite,CurrentUseDesignation,NativeGrowthProtEsmt,Easements,OtherDesignation,DeedRestrictions,DevelopmentRightsPurch,CoalMineHazard,CriticalDrainage,ErosionHazard,LandfillBuffer,HundredYrFloodPlain,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems
46,65600,550,MODA APTS,BELL AND DENNYS 2ND ADD,2 THRU 5,36,4,25,31,NW,C,30.0,90.0,100.0,10.0,SEATTLE,11,DMR/R 145/65,21,1,16,25440,2,2,4,0,1,0,2,0,False,0,2,0,0,2,1,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
53,112106,9050,VACANT LAND,NaN,,,6,21,11,SE,C,60.0,60.0,NaN,NaN,BLACK DIAMOND,905,CC,13,0,309,157251,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
55,95200,5770,WEST SEATTLE CHRISTIAN SCHOOL,BOSTON COMPANYS PLAT OF W S,1 THRU 11,45,3,24,14,SE,C,45.0,25.0,NaN,NaN,SEATTLE,10,LR2 (M),6,1,165,31625,2,2,4,1,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
59,927570,3430,14 UNIT APT,WEST SEATTLE L&I CO 3RD PLAT REPLAT,8 THRU 11,93,3,24,11,SE,C,45.0,10.0,100.0,235.0,SEATTLE,10,LR2 RC (M),6,1,11,8546,2,2,4,0,1,0,2,0,False,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,2,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
152,182504,9072,"STONE34 - BROOKS HQ - OTHER PARCELS 9132, 9075, 9088",NaN,,,4,25,18,SE,C,17.0,10.0,280.0,300.0,SEATTLE,10,IC-65 (M),13,1,106,17424,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616042,292613,9032,Vacant Lot (Sand Storage),NaN,,,13,26,29,SE,C,95.0,60.0,NaN,NaN,KING COUNTY,6076,F,20,0,316,11761,0,0,4,0,0,1,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
616054,202104,9174,WAREHOUSE,NaN,,,4,21,20,SE,C,55.0,30.0,NaN,NaN,FEDERAL WAY,1205,CE,13,1,195,132422,2,2,4,0,2,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
616084,410450,275,LEGACY CROWN POINTE BLDG B,LAKE WASHINGTON BLVD BEACH,55 &,&,5,25,17,SW,C,85.0,70.0,280.0,200.0,KIRKLAND,1701,PR 8.5,13,1,106,71190,2,2,4,0,1,1,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
616091,52203,9018,LS Cedar Inc,NaN,,,3,22,5,NW,C,47.0,30.0,NaN,NaN,KING COUNTY,4055,R1SO,1,2,195,188179,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
616097,501600,1715,SFR Converted to Office,MADISON STREET ADD,25,19,4,25,28,SE,C,25.0,47.0,NaN,NaN,SEATTLE,10,NC2P-55 (M),21,1,106,4256,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N

Looking up major 65600 and minor 550 across all dataframes

In [148]:
record_deets(real_prop_sales_df, 65600, 550)

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,PlatLot,PlatBlock,SellerName,BuyerName,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
140178,1433543,65600,550,1995-06-15,0,199506190959,001,077,065600,P,2 THRU 5,36,IRBY JAMES S,WEST COAST PAPER PROFIT SHARING TRUST C/O DAVID A,3,0,19,N,N,N,N,4,8,23 32
1775100,1463453,65600,550,1995-12-28,1450000,199512290539,001,077,065600,P,2 THRU 5,36,WEST COAST PAPER PROFIT SHARING TR,KOH CHRISTOPHER J ET AL,3,11,3,N,N,N,N,5,2,
280007,1472838,65600,550,1996-02-23,0,199603051111,001,077,065600,P,02-05,36,KOH CHRISTOPHER J,KOH JAMES & MARIA,3,11,15,N,N,N,,14,2,32 51 52
104090,1720148,65600,550,1999-11-03,0,19991104001357,,,,,,,C D TRUST,3RD & BATTERY LLC,3,11,3,N,N,N,N,5,2,11 31
1333610,2232016,65600,550,2006-08-22,8725000,20060825001221,,,,,,,3RD & BATTERY LLC,2312 LLC,3,11,3,N,N,N,N,1,2,57
1549541,2313984,65600,550,2007-09-25,0,20071003001614,,,,,,,2312 LLC,SEATTLE CITY OF,1,11,27,N,N,N,N,18,1,16 31
1995467,2496100,65600,550,2011-06-15,49424700,20110615001679,,,,,,,2312 LLC,EQR-MODA I LLC+EQR-MODA II LLC,3,7,4,N,N,N,N,1,2,

In [135]:
record_deets(res_bld_df, 65600, 550)

Empty DataFrame
Columns: [Major, Minor, BldgNbr, NbrLivingUnits, Address, BuildingNumber, Fraction, DirectionPrefix, StreetName, StreetType, DirectionSuffix, ZipCode, Stories, BldgGrade, BldgGradeVar, SqFt1stFloor, SqFtHalfFloor, SqFt2ndFloor, SqFtUpperFloor, SqFtUnfinFull, SqFtUnfinHalf, SqFtTotLiving, SqFtTotBasement, SqFtFinBasement, FinBasementGrade, SqFtGarageBasement, SqFtGarageAttached, DaylightBasement, SqFtOpenPorch, SqFtEnclosedPorch, SqFtDeck, HeatSystem, HeatSource, BrickStone, ViewUtilization, Bedrooms, BathHalfCount, Bath3qtrCount, BathFullCount, FpSingleStory, FpMultiStory, FpFreestanding, FpAdditional, YrBuilt, YrRenovated, PcntComplete, Obsolescence, PcntNetCondition, Condition, AddnlCost]
Index: []

In [136]:
record_deets(parceldf, major, minor)

,Major,Minor,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,QuarterSection,PropType,Area,SubArea,SpecArea,SpecSubArea,DistrictName,LevyCode,CurrentZoning,HBUAsIfVacant,HBUAsImproved,PresentUse,SqFtLot,WaterSystem,SewerSystem,Access,Topography,StreetSurface,RestrictiveSzShape,InadequateParking,PcntUnusable,Unbuildable,MtRainier,Olympics,Cascades,Territorial,SeattleSkyline,PugetSound,LakeWashington,LakeSammamish,SmallLakeRiverCreek,OtherView,WfntLocation,WfntFootage,WfntBank,WfntPoorQuality,WfntRestrictedAccess,WfntAccessRights,WfntProximityInfluence,TidelandShoreland,LotDepthFactor,TrafficNoise,AirportNoise,PowerLines,OtherNuisances,NbrBldgSites,Contamination,DNRLease,AdjacentGolfFairway,AdjacentGreenbelt,HistoricSite,CurrentUseDesignation,NativeGrowthProtEsmt,Easements,OtherDesignation,DeedRestrictions,DevelopmentRightsPurch,CoalMineHazard,CriticalDrainage,ErosionHazard,LandfillBuffer,HundredYrFloodPlain,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems
46,65600,550,MODA APTS,BELL AND DENNYS 2ND ADD,2 THRU 5,36,4,25,31,NW,C,30.0,90.0,100.0,10.0,SEATTLE,11,DMR/R 145/65,21,1,16,25440,2,2,4,0,1,0,2,0,False,0,2,0,0,2,1,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N

---

## LOOKUP TABLE

In [ ]:
! wget -P ../../data/raw https://aqua.kingcounty.gov/extranet/assessor/Lookup.zip

In [ ]:
! unzip -o ../../data/raw/"Lookup.zip"

In [9]:
lookupdf = pd.read_csv('../../data/EXTR_LookUp.csv')

In [26]:
lookupdf

      LUType  LUItem                                      LUDescription
0          1       1  LAND ONLY                                     ...
1          1      10  Land with new building                        ...
2          1      11  Household, single family units                ...
3          1      12  Multiple family residence (Residential, 2-4 un...
4          1      13  Multiple family residence (Residential, 5+ uni...
...      ...     ...                                                ...
1203      99       1  SUBSTANDARD                                   ...
1204      99       2  BELOW AVERAGE                                 ...
1205      99       3  AVERAGE                                       ...
1206      99       4  ABOVE AVERAGE                                 ...
1207      99       5  EXCELLENT                                     ...

[1208 rows x 3 columns]

---

# MERGING TABLES

In [200]:
rps_parcel_dfmerge = pd.merge(real_prop_sales_df, parceldf,  how='left', left_on=['Major','Minor'], right_on = ['Major','Minor'])

In [204]:
rps_parcel_resbld_dfmerge = pd.merge(rps_parcel_dfmerge, res_bld_df, how='left', left_on=['Major', 'Minor'], right_on=['Major','Minor'])

In [208]:
all_merge = rps_parcel_resbld_dfmerge[['ExciseTaxNbr',
 'Major',
 'Minor',
 'DocumentDate',
 'SalePrice',
 'PropertyType',
 'PrincipalUse',
 'SaleInstrument',
 'AFHistoricProperty',
 'SaleReason',
 'PropName',
 'PropType',
 'PresentUse',
 'SqFtLot',
 'WfntLocation',
 'TrafficNoise',
 'AirportNoise',
 'PowerLines',
 'OtherNuisances',
 'NbrLivingUnits',
 'ZipCode',
 'SqFt1stFloor',
 'SqFt2ndFloor',
 'SqFtUpperFloor',
 'SqFtUnfinFull',
 'SqFtTotLiving',
 'SqFtTotBasement',
 'SqFtFinBasement',
 'SqFtGarageBasement',
 'SqFtGarageAttached',
 'SqFtOpenPorch',
 'SqFtEnclosedPorch',
 'SqFtDeck',
 'Bedrooms',
 'BathHalfCount',
 'BathFullCount']]

In [276]:
all_sales_merged = all_merge[(all_merge.SalePrice > 0)]
all_sales_merged

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,PropertyType,PrincipalUse,SaleInstrument,AFHistoricProperty,SaleReason,PropName,PropType,PresentUse,SqFtLot,WfntLocation,TrafficNoise,AirportNoise,PowerLines,OtherNuisances,NbrLivingUnits,ZipCode,SqFt1stFloor,SqFt2ndFloor,SqFtUpperFloor,SqFtUnfinFull,SqFtTotLiving,SqFtTotBasement,SqFtFinBasement,SqFtGarageBasement,SqFtGarageAttached,SqFtOpenPorch,SqFtEnclosedPorch,SqFtDeck,Bedrooms,BathHalfCount,BathFullCount
2,2548641,330395,1610,2012-06-07,335000,3,6,3,N,1,,R,2.0,8270.0,0.0,0.0,0.0,N,N,1.0,98038,1260.0,950.0,0.0,0.0,2210.0,0.0,0.0,0.0,650.0,60.0,0.0,500.0,3.0,0.0,2.0
3,1598443,675260,940,1998-03-06,209950,3,6,3,N,1,,R,2.0,7563.0,0.0,0.0,0.0,N,N,1.0,98031,1070.0,970.0,0.0,0.0,2040.0,0.0,0.0,0.0,660.0,0.0,0.0,0.0,4.0,1.0,2.0
5,1766926,269549,190,2000-07-23,154950,3,2,3,N,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2743355,638580,110,2015-07-14,190000,3,6,3,N,1,,R,2.0,10534.0,0.0,0.0,0.0,N,N,1.0,98188,1080.0,0.0,0.0,0.0,2130.0,1050.0,1050.0,0.0,0.0,0.0,0.0,300.0,4.0,1.0,1.0
8,2040352,321165,50,2004-05-10,2100000,1,6,3,N,1,,R,2.0,5588.0,0.0,0.0,0.0,N,N,1.0,98001,970.0,830.0,0.0,0.0,1800.0,0.0,0.0,0.0,440.0,0.0,0.0,0.0,4.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2126248,3003326,683782,410,2019-07-31,469000,11,6,3,N,1,,R,2.0,6175.0,0.0,0.0,0.0,N,N,1.0,98023,1240.0,1180.0,0.0,0.0,2420.0,0.0,0.0,0.0,510.0,40.0,0.0,0.0,4.0,1.0,2.0
2126249,3020981,292604,9147,2019-11-05,837500,11,6,3,N,1,,R,2.0,7620.0,0.0,1.0,0.0,N,N,1.0,98125,1270.0,0.0,0.0,0.0,3520.0,1270.0,1270.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0,3.0
2126253,2682685,515390,150,2014-07-08,7082014,3,6,15,N,10,,R,2.0,8240.0,0.0,0.0,0.0,N,N,1.0,98003,1180.0,0.0,0.0,0.0,1180.0,0.0,0.0,0.0,480.0,0.0,100.0,0.0,3.0,0.0,1.0
2126256,2302750,129280,130,2007-07-30,315000,3,2,3,N,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2126258,2116711,395610,60,2005-04-19,543000,3,6,3,N,1,,R,2.0,29775.0,0.0,0.0,0.0,N,N,1.0,98045,1400.0,1270.0,0.0,0.0,2670.0,0.0,0.0,0.0,760.0,70.0,250.0,0.0,4.0,1.0,3.0

---

## EXPLORATORY DATA ANALYSIS

In [216]:
print(f'real property sales records: {len(real_prop_sales_df)}')
print(f'real property sales records with sales greater than 0: {len(real_prop_sales_df[(real_prop_sales_df.SalePrice > 0)])}')
print(f'residential buidling records: {len(res_bld_df)}')
print(f'parcel records: {len(parceldf)}')

real property sales records: 2108516
real property sales records with sales greater than 0: 1380291
residential buidling records: 517783
parcel records: 616110

# ---

#### PROPERTY TYPE (RPS) AND PROP TYPE (PARCEL) COUNTS

In [277]:
all_sales_merged.PropertyType.value_counts()

3     985799
2     150164
1     111385
11     80316
0      27482
       ...
90         1
49         1
73         1
34         1
84         1
Name: PropertyType, Length: 82, dtype: int64

In [70]:
lookup(1) # Property type, rps

    LUType  LUItem                                       LUDescription
0        1       1  LAND ONLY
1        1      10  Land with new building
2        1      11  Household, single family units
3        1      12  Multiple family residence (Residential, 2-4 units)
4        1      13  Multiple family residence (Residential, 5+ units)
..     ...     ...                                                 ...
79       1      93  Water areas
80       1      94  Open space land classified under chapter 84.34 RCW
81       1      95  Timberland classified under chapter 84.34 RCW
82       1      96  Improvements on leased land
83       1      99  Other undeveloped land

[84 rows x 3 columns]

In [301]:
all_sales_merged.PropType.value_counts(normalize=True)

R    0.942916
C    0.054643
T    0.002225
K    0.000116
U    0.000078
M    0.000020
X    0.000002
Name: PropType, dtype: float64

#### COMMERICAL PROP TYPE (PARCEL): to check how much of these properties are apartments

In [279]:
all_commercial = all_sales_merged[(all_sales_merged.PropType == 'C')]
all_commercial

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,PropertyType,PrincipalUse,SaleInstrument,AFHistoricProperty,SaleReason,PropName,PropType,PresentUse,SqFtLot,WfntLocation,TrafficNoise,AirportNoise,PowerLines,OtherNuisances,NbrLivingUnits,ZipCode,SqFt1stFloor,SqFt2ndFloor,SqFtUpperFloor,SqFtUnfinFull,SqFtTotLiving,SqFtTotBasement,SqFtFinBasement,SqFtGarageBasement,SqFtGarageAttached,SqFtOpenPorch,SqFtEnclosedPorch,SqFtDeck,Bedrooms,BathHalfCount,BathFullCount
43,2716846,42504,9047,2015-03-04,7085000,3,7,4,N,1,MOD APARTMENTS,C,11.0,64772.0,0.0,0.0,0.0,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,2841067,360,55,2016-12-22,775000,59,7,3,N,1,AUTO DETAILING,C,186.0,10854.0,0.0,2.0,0.0,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,1728715,600350,245,1999-12-21,3000000,3,11,3,N,1,Agnes Lofts,C,16.0,12537.0,0.0,2.0,0.0,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,1589248,124450,178,1998-01-15,140000,3,11,3,N,1,RETAIL Gelato,C,101.0,1294.0,0.0,0.0,0.0,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
476,1350143,4000,136,1993-12-09,430172,3,0,2,N,1,Chevron FOOD MART,C,168.0,24595.0,0.0,0.0,0.0,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2125888,2411742,342660,90,2009-10-07,300000,3,6,3,N,18,Filipino Community Village,C,49.0,5850.0,0.0,0.0,0.0,N,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2126044,1228818,92304,9475,1992-01-23,112500,1,0,2,N,1,Vacant Land,C,301.0,141065.0,0.0,0.0,0.0,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2126107,2001300,20900,30,2003-11-12,2900000,3,11,3,N,1,500 YALE AVENUE NORTH,C,106.0,18055.0,0.0,0.0,0.0,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2126152,1676547,929290,250,1999-03-29,160000,3,6,3,N,1,FOURPLEX,C,5.0,7220.0,0.0,0.0,60.0,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2126213,1959825,222006,9011,2003-05-21,156992,1,7,3,N,1,YELLA BEAK TAVERN,C,188.0,61855.0,0.0,0.0,0.0,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [280]:
all_commercial.PrincipalUse.value_counts(normalize=True)

7     0.321102
11    0.279973
0     0.202729
6     0.104487
4     0.073814
10    0.012385
2     0.001842
5     0.001279
3     0.000836
1     0.000751
9     0.000563
8     0.000239
Name: PrincipalUse, dtype: float64

In [236]:
lookup(2) # Principal use rps

     LUType  LUItem                                       LUDescription
804       2       1  AGRICULTURAL
805       2      10  OTHER
806       2      11  COMMERCIAL/INDUSTRIAL
807       2       2  CONDOMINIUM
808       2       3  RECREATIONAL
809       2       4  APT(4+ UNITS)
810       2       5  INDUSTRIAL
811       2       6  RESIDENTIAL
812       2       7  COMMERCIAL
813       2       8  MOBILE HOME
814       2       9  TIMBER

#### KEEPING ONLY RESIDENTIAL (PROP TYPE FROM PARCEL): 
#### dropping commercial props bc apts (4+ units) make up 7% of total comm props, which make up 5% of our total sales data.

In [281]:
all_residential = all_sales_merged[(all_sales_merged.PropType == 'R')]
all_residential

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,PropertyType,PrincipalUse,SaleInstrument,AFHistoricProperty,SaleReason,PropName,PropType,PresentUse,SqFtLot,WfntLocation,TrafficNoise,AirportNoise,PowerLines,OtherNuisances,NbrLivingUnits,ZipCode,SqFt1stFloor,SqFt2ndFloor,SqFtUpperFloor,SqFtUnfinFull,SqFtTotLiving,SqFtTotBasement,SqFtFinBasement,SqFtGarageBasement,SqFtGarageAttached,SqFtOpenPorch,SqFtEnclosedPorch,SqFtDeck,Bedrooms,BathHalfCount,BathFullCount
2,2548641,330395,1610,2012-06-07,335000,3,6,3,N,1,,R,2.0,8270.0,0.0,0.0,0.0,N,N,1.0,98038,1260.0,950.0,0.0,0.0,2210.0,0.0,0.0,0.0,650.0,60.0,0.0,500.0,3.0,0.0,2.0
3,1598443,675260,940,1998-03-06,209950,3,6,3,N,1,,R,2.0,7563.0,0.0,0.0,0.0,N,N,1.0,98031,1070.0,970.0,0.0,0.0,2040.0,0.0,0.0,0.0,660.0,0.0,0.0,0.0,4.0,1.0,2.0
6,2743355,638580,110,2015-07-14,190000,3,6,3,N,1,,R,2.0,10534.0,0.0,0.0,0.0,N,N,1.0,98188,1080.0,0.0,0.0,0.0,2130.0,1050.0,1050.0,0.0,0.0,0.0,0.0,300.0,4.0,1.0,1.0
8,2040352,321165,50,2004-05-10,2100000,1,6,3,N,1,,R,2.0,5588.0,0.0,0.0,0.0,N,N,1.0,98001,970.0,830.0,0.0,0.0,1800.0,0.0,0.0,0.0,440.0,0.0,0.0,0.0,4.0,1.0,2.0
9,2040352,321165,20,2004-05-10,2100000,1,6,3,N,1,,R,2.0,5523.0,0.0,0.0,0.0,N,N,1.0,98001,970.0,830.0,0.0,0.0,1800.0,0.0,0.0,0.0,440.0,0.0,0.0,0.0,4.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2126247,1715413,402410,803,1999-10-05,161000,3,6,3,N,1,,R,2.0,6167.0,0.0,1.0,0.0,N,N,1.0,98155,900.0,0.0,0.0,0.0,900.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,3.0,0.0,1.0
2126248,3003326,683782,410,2019-07-31,469000,11,6,3,N,1,,R,2.0,6175.0,0.0,0.0,0.0,N,N,1.0,98023,1240.0,1180.0,0.0,0.0,2420.0,0.0,0.0,0.0,510.0,40.0,0.0,0.0,4.0,1.0,2.0
2126249,3020981,292604,9147,2019-11-05,837500,11,6,3,N,1,,R,2.0,7620.0,0.0,1.0,0.0,N,N,1.0,98125,1270.0,0.0,0.0,0.0,3520.0,1270.0,1270.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0,3.0
2126253,2682685,515390,150,2014-07-08,7082014,3,6,15,N,10,,R,2.0,8240.0,0.0,0.0,0.0,N,N,1.0,98003,1180.0,0.0,0.0,0.0,1180.0,0.0,0.0,0.0,480.0,0.0,100.0,0.0,3.0,0.0,1.0
2126258,2116711,395610,60,2005-04-19,543000,3,6,3,N,1,,R,2.0,29775.0,0.0,0.0,0.0,N,N,1.0,98045,1400.0,1270.0,0.0,0.0,2670.0,0.0,0.0,0.0,760.0,70.0,250.0,0.0,4.0,1.0,3.0

In [306]:
all_residential[all_residential.SqFtTotLiving == 0]

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,PropertyType,PrincipalUse,SaleInstrument,AFHistoricProperty,SaleReason,PropName,PropType,PresentUse,SqFtLot,WfntLocation,TrafficNoise,AirportNoise,PowerLines,OtherNuisances,NbrLivingUnits,ZipCode,SqFt1stFloor,SqFt2ndFloor,SqFtUpperFloor,SqFtUnfinFull,SqFtTotLiving,SqFtTotBasement,SqFtFinBasement,SqFtGarageBasement,SqFtGarageAttached,SqFtOpenPorch,SqFtEnclosedPorch,SqFtDeck,Bedrooms,BathHalfCount,BathFullCount
315107,1195432,917960,425,1991-06-12,59000,3,0,2,N,8,SFR,R,6.0,16025.0,0.0,0.0,0.0,N,N,1.0,98030,320.0,0.0,0.0,320.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
329169,2517675,941240,165,2011-10-28,1000000,3,6,3,N,1,,R,2.0,48561.0,0.0,0.0,0.0,N,N,1.0,98118,260.0,0.0,0.0,260.0,0.0,0.0,0.0,0.0,380.0,0.0,0.0,0.0,1.0,0.0,0.0
716688,2681097,941240,165,2014-07-16,1300000,3,6,3,N,1,,R,2.0,48561.0,0.0,0.0,0.0,N,N,1.0,98118,260.0,0.0,0.0,260.0,0.0,0.0,0.0,0.0,380.0,0.0,0.0,0.0,1.0,0.0,0.0
767671,1965494,501500,140,2003-06-11,310000,3,6,4,N,8,,R,2.0,2400.0,0.0,0.0,0.0,N,N,1.0,98112,970.0,840.0,650.0,2460.0,0.0,1000.0,0.0,0.0,0.0,130.0,0.0,0.0,3.0,0.0,1.0
992350,1777643,941240,165,2000-09-19,54440,1,0,2,N,18,,R,2.0,48561.0,0.0,0.0,0.0,N,N,1.0,98118,260.0,0.0,0.0,260.0,0.0,0.0,0.0,0.0,380.0,0.0,0.0,0.0,1.0,0.0,0.0
1265301,2517976,941240,165,2011-11-09,1515000,3,6,3,N,5,,R,2.0,48561.0,0.0,0.0,0.0,N,N,1.0,98118,260.0,0.0,0.0,260.0,0.0,0.0,0.0,0.0,380.0,0.0,0.0,0.0,1.0,0.0,0.0
1471453,912564,941240,165,1986-12-01,275000,3,0,2,,1,,R,2.0,48561.0,0.0,0.0,0.0,N,N,1.0,98118,260.0,0.0,0.0,260.0,0.0,0.0,0.0,0.0,380.0,0.0,0.0,0.0,1.0,0.0,0.0

# ---

#### INVESTIGATING PRINCIPAL USE (rps)

In [303]:
all_residential.PrincipalUse.value_counts(normalize=True)

6     0.839856
0     0.153039
10    0.001349
7     0.001274
11    0.001225
9     0.000867
4     0.000650
1     0.000603
3     0.000479
2     0.000410
8     0.000245
5     0.000002
Name: PrincipalUse, dtype: float64

In [292]:
lookup(2) # Principal use

     LUType  LUItem                                       LUDescription
804       2       1  AGRICULTURAL
805       2      10  OTHER
806       2      11  COMMERCIAL/INDUSTRIAL
807       2       2  CONDOMINIUM
808       2       3  RECREATIONAL
809       2       4  APT(4+ UNITS)
810       2       5  INDUSTRIAL
811       2       6  RESIDENTIAL
812       2       7  COMMERCIAL
813       2       8  MOBILE HOME
814       2       9  TIMBER

In [296]:
all_residential[(all_residential.PrincipalUse == 0) & (all_residential.Bedrooms == 0)]

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,PropertyType,PrincipalUse,SaleInstrument,AFHistoricProperty,SaleReason,PropName,PropType,PresentUse,SqFtLot,WfntLocation,TrafficNoise,AirportNoise,PowerLines,OtherNuisances,NbrLivingUnits,ZipCode,SqFt1stFloor,SqFt2ndFloor,SqFtUpperFloor,SqFtUnfinFull,SqFtTotLiving,SqFtTotBasement,SqFtFinBasement,SqFtGarageBasement,SqFtGarageAttached,SqFtOpenPorch,SqFtEnclosedPorch,SqFtDeck,Bedrooms,BathHalfCount,BathFullCount
9886,1597910,941240,55,1998-03-06,59900,1,0,2,N,1,,R,2.0,7920.0,0.0,0.0,0.0,N,N,1.0,NaN,2520.0,0.0,0.0,0.0,2520.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
19035,1267412,311040,25,1992-09-08,65000,3,0,2,N,18,,R,2.0,30408.0,3.0,0.0,0.0,N,N,1.0,98070,498.0,0.0,0.0,0.0,498.0,0.0,0.0,0.0,0.0,30.0,0.0,264.0,0.0,0.0,0.0
24145,684349,213170,930,1982-07-21,50000,3,0,2,,1,,R,2.0,8300.0,0.0,0.0,0.0,N,N,1.0,98019,1670.0,0.0,0.0,0.0,1670.0,0.0,0.0,0.0,0.0,60.0,0.0,0.0,0.0,0.0,1.0
40874,1340885,866590,64,1993-11-03,154990,3,0,2,N,1,,R,2.0,18450.0,0.0,0.0,0.0,N,N,1.0,98155,370.0,0.0,0.0,0.0,370.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56624,723102,276790,137,1983-05-25,65500,3,0,2,,1,,R,2.0,3612.0,0.0,0.0,0.0,N,N,1.0,98107,450.0,0.0,0.0,0.0,450.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999018,1222176,145410,710,1991-12-11,255000,3,0,2,N,1,,R,2.0,13000.0,0.0,0.0,0.0,N,N,1.0,98125,1080.0,0.0,0.0,0.0,1080.0,0.0,0.0,0.0,190.0,0.0,0.0,0.0,0.0,1.0,0.0
2025683,948495,728390,200,1987-06-15,91950,3,0,2,N,1,,R,2.0,16107.0,0.0,0.0,0.0,N,N,1.0,98133,590.0,0.0,0.0,0.0,590.0,0.0,0.0,0.0,410.0,0.0,0.0,0.0,0.0,0.0,0.0
2078273,1673848,537980,5670,1999-03-11,97997,3,0,15,N,1,,R,2.0,15973.0,0.0,2.0,0.0,N,N,1.0,98188,1100.0,1000.0,0.0,0.0,2100.0,0.0,0.0,0.0,0.0,160.0,0.0,330.0,0.0,1.0,2.0
2090312,1332737,152006,9048,1993-09-23,359000,3,0,2,N,1,,R,2.0,174240.0,0.0,0.0,0.0,N,N,1.0,98022,870.0,0.0,0.0,0.0,870.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2116124,996705,282507,9022,1988-04-25,315000,3,0,11,N,1,,R,2.0,2168389.0,9.0,0.0,0.0,N,N,1.0,98014,1730.0,0.0,0.0,0.0,2410.0,1180.0,680.0,0.0,510.0,90.0,0.0,200.0,0.0,0.0,0.0

In [304]:
all_residential.PropertyType.value_counts(normalize=True)[:10]

3     0.710480
2     0.100100
1     0.087060
11    0.074971
0     0.012731
4     0.005713
10    0.004556
91    0.001914
5     0.000600
14    0.000488
Name: PropertyType, dtype: float64

In [282]:
all_residential.SqFtTotLiving.isna().sum()

45213

# ---

#### INVESTIGATING PRESENT USE (parcel)

In [289]:
lookup(102) # present use, parcel

     LUType  LUItem                                       LUDescription
84      102       0
85      102      10  Congregate Housing
86      102     101  Retail Store
87      102     104  Retail(Big Box)
88      102     105  Retail(Discount)
..      ...     ...                                                 ...
208     102      64  Shopping Ctr(Specialty)
209     102       7  Houseboat
210     102       8  Mobile Home
211     102       9  Single Family(C/I Use)
212     102      96  Retail(Line/Strip)

[129 rows x 3 columns]

In [287]:
all_residential.PresentUse.value_counts()

2.0      893745
29.0      52146
300.0     32087
8.0       11066
3.0       10675
6.0        6839
4.0        2768
301.0       583
57.0        371
149.0       289
266.0       159
0.0         131
332.0        89
261.0        84
330.0        75
309.0        67
182.0        44
172.0        34
316.0        31
130.0        30
9.0          30
324.0        29
272.0        15
334.0        14
328.0        11
16.0         10
5.0           9
138.0         8
331.0         8
11.0          7
193.0         7
327.0         6
106.0         5
180.0         5
341.0         5
336.0         4
216.0         4
49.0          4
101.0         4
185.0         4
20.0          3
184.0         3
143.0         3
7.0           2
150.0         2
165.0         2
333.0         2
335.0         2
156.0         2
153.0         2
122.0         1
38.0          1
159.0         1
59.0          1
61.0          1
267.0         1
326.0         1
152.0         1
264.0         1
Name: PresentUse, dtype: int64

# ---

#### Property type filter

In [283]:
all_residential.PropertyType.value_counts(normalize=True)[:10]

3     0.710480
2     0.100100
1     0.087060
11    0.074971
0     0.012731
4     0.005713
10    0.004556
91    0.001914
5     0.000600
14    0.000488
Name: PropertyType, dtype: float64

In [256]:
lookup(1) # Property type

    LUType  LUItem                                       LUDescription
0        1       1  LAND ONLY
1        1      10  Land with new building
2        1      11  Household, single family units
3        1      12  Multiple family residence (Residential, 2-4 units)
4        1      13  Multiple family residence (Residential, 5+ units)
..     ...     ...                                                 ...
79       1      93  Water areas
80       1      94  Open space land classified under chapter 84.34 RCW
81       1      95  Timberland classified under chapter 84.34 RCW
82       1      96  Improvements on leased land
83       1      99  Other undeveloped land

[84 rows x 3 columns]

#### Investigating property type (rps) #1 = land only

In [284]:
all_residential[(all_residential.PropertyType == 1)]

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,PropertyType,PrincipalUse,SaleInstrument,AFHistoricProperty,SaleReason,PropName,PropType,PresentUse,SqFtLot,WfntLocation,TrafficNoise,AirportNoise,PowerLines,OtherNuisances,NbrLivingUnits,ZipCode,SqFt1stFloor,SqFt2ndFloor,SqFtUpperFloor,SqFtUnfinFull,SqFtTotLiving,SqFtTotBasement,SqFtFinBasement,SqFtGarageBasement,SqFtGarageAttached,SqFtOpenPorch,SqFtEnclosedPorch,SqFtDeck,Bedrooms,BathHalfCount,BathFullCount
8,2040352,321165,50,2004-05-10,2100000,1,6,3,N,1,,R,2.0,5588.0,0.0,0.0,0.0,N,N,1.0,98001,970.0,830.0,0.0,0.0,1800.0,0.0,0.0,0.0,440.0,0.0,0.0,0.0,4.0,1.0,2.0
9,2040352,321165,20,2004-05-10,2100000,1,6,3,N,1,,R,2.0,5523.0,0.0,0.0,0.0,N,N,1.0,98001,970.0,830.0,0.0,0.0,1800.0,0.0,0.0,0.0,440.0,0.0,0.0,0.0,4.0,1.0,2.0
10,2040352,321165,40,2004-05-10,2100000,1,6,3,N,1,,R,2.0,5273.0,0.0,0.0,0.0,N,N,1.0,NaN,962.0,824.0,0.0,0.0,1786.0,0.0,0.0,0.0,440.0,0.0,0.0,0.0,4.0,1.0,2.0
11,2040352,321165,30,2004-05-10,2100000,1,6,3,N,1,,R,2.0,5448.0,0.0,0.0,0.0,N,N,1.0,98001,970.0,870.0,0.0,0.0,1840.0,0.0,0.0,0.0,440.0,0.0,0.0,0.0,4.0,1.0,2.0
12,2040352,321165,110,2004-05-10,2100000,1,6,3,N,1,,R,2.0,4823.0,0.0,0.0,0.0,N,N,1.0,98001,730.0,1090.0,0.0,0.0,1820.0,0.0,0.0,0.0,480.0,0.0,0.0,0.0,3.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2126149,1366808,558140,380,1994-03-24,92500,1,0,2,N,1,,R,2.0,45586.0,0.0,0.0,0.0,N,N,1.0,98074,1610.0,1520.0,0.0,0.0,3130.0,0.0,0.0,0.0,860.0,80.0,0.0,210.0,4.0,1.0,2.0
2126210,1333120,62106,9032,1993-09-23,30000,1,0,10,N,1,,R,2.0,213098.0,0.0,0.0,0.0,Y,N,1.0,NaN,1220.0,1090.0,0.0,0.0,2310.0,0.0,0.0,0.0,0.0,570.0,0.0,0.0,3.0,0.0,2.0
2126229,920379,381670,45,1986-12-31,46000,1,0,2,N,1,,R,2.0,14610.0,0.0,0.0,0.0,N,N,1.0,98028,1770.0,830.0,0.0,0.0,3410.0,1770.0,810.0,960.0,0.0,80.0,0.0,500.0,3.0,0.0,2.0
2126232,2898110,729920,100,2017-10-25,260000,1,6,3,N,1,NaN,R,2.0,31525.0,0.0,0.0,0.0,N,N,1.0,NaN,3080.0,0.0,0.0,0.0,3080.0,0.0,0.0,0.0,930.0,470.0,0.0,0.0,3.0,1.0,2.0
2126233,2898110,729920,110,2017-10-25,260000,1,6,3,N,1,NaN,R,300.0,30944.0,0.0,0.0,0.0,N,N,1.0,NaN,2960.0,0.0,0.0,0.0,3860.0,0.0,0.0,0.0,730.0,290.0,0.0,0.0,4.0,1.0,3.0

In [253]:
lookup(2)

     LUType  LUItem                                       LUDescription
804       2       1  AGRICULTURAL
805       2      10  OTHER
806       2      11  COMMERCIAL/INDUSTRIAL
807       2       2  CONDOMINIUM
808       2       3  RECREATIONAL
809       2       4  APT(4+ UNITS)
810       2       5  INDUSTRIAL
811       2       6  RESIDENTIAL
812       2       7  COMMERCIAL
813       2       8  MOBILE HOME
814       2       9  TIMBER

In [151]:
lookup(50)

     LUType  LUItem                                       LUDescription
964      50       1  DUWAMISH
965      50       2  ELLIOTT BAY
966      50       3  PUGET SOUND
967      50       4  LAKE UNION
968      50       5  SHIP CANAL
969      50       6  LAKE WASH
970      50       7  LAKE SAMM
971      50       8  OTHER LAKE
972      50       9  RIVER/SLOUGH

In [61]:
lookup(5) #real_prop_sales_df, sale reason

     LUType  LUItem                                       LUDescription
945       5       1  None
946       5      10  Property Settlement
947       5      11  Divorce Settlement
948       5      12  Tenancy Partition
949       5      13  Community Prop Established
950       5      14  Partial Int - love,aff,gft
951       5      15  Easement
952       5      16  Correction (refiling)
953       5      17  Trade
954       5      18  Other
955       5      19  Quit Claim Deed - gift/full or part interest
956       5       2  Assumption
957       5       3  Mortgage Assumption
958       5       4  Foreclosure
959       5       5  Trust
960       5       6  Executor-to admin guardian
961       5       7  Testamentary Trust
962       5       8  Estate Settlement
963       5       9  Settlement

In [62]:
lookup(7) #real_prop_sales_df, sale warning

      LUType  LUItem                                       LUDescription
1056       7       1  PERSONAL PROPERTY INCLUDED
1057       7      10  TEAR DOWN
1058       7      11  CORPORATE AFFILIATES
1059       7      12  ESTATE ADMINISTRATOR, GUARDIAN, OR EXECUTOR
1060       7      13  BANKRUPTCY - RECEIVER OR TRUSTEE
...      ...     ...                                                 ...
1123       7      70  BUILDING ONLY
1124       7      71  PARKING EASEMENT
1125       7      72  PARKING STALLS
1126       7       8  QUESTIONABLE PER APPRAISAL
1127       7       9  QUESTIONABLE PER MAINFRAME SYSTEM (Obsolete code)

[72 rows x 3 columns]

In [133]:
record_deets(real_prop_sales_df, 98400, 380)

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,PlatLot,PlatBlock,SellerName,BuyerName,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
1590634,1365300,98400,380,03/23/1994,139950,199403281030,080,089,098400,P,38,,WIXOM JACK L+GRACE E,DWORSHAK MICHAEL J,3,0,2,N,N,N,N,1,8,
1786451,2856017,98400,380,03/29/2017,439500,20170330001397,,,,,,,DWORSHAK MICHAEL J,BERGSTROM AGATA,11,6,3,,,,,1,8,
1866954,2664537,98400,380,04/01/2014,0,20140428000126,,,,,,,DWORSHAK MICHAEL,DWORSHAK LYNDEE,3,6,15,N,N,N,N,11,8,18 31 38
0,2671216,98400,380,04/02/2014,0,20140602000186,,,,,,,DWORSHAK LYNDEE MARIE,DWORSHAK MICHAEL J,3,6,15,N,N,N,N,11,8,18 31 38

In [77]:
record_deets(res_bld_df, 98400, 380)

,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,StreetType,DirectionSuffix,ZipCode,Stories,BldgGrade,BldgGradeVar,SqFt1stFloor,SqFtHalfFloor,SqFt2ndFloor,SqFtUpperFloor,SqFtUnfinFull,SqFtUnfinHalf,SqFtTotLiving,SqFtTotBasement,SqFtFinBasement,FinBasementGrade,SqFtGarageBasement,SqFtGarageAttached,DaylightBasement,SqFtOpenPorch,SqFtEnclosedPorch,SqFtDeck,HeatSystem,HeatSource,BrickStone,ViewUtilization,Bedrooms,BathHalfCount,Bath3qtrCount,BathFullCount,FpSingleStory,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
24729,98400,380,1,1,12713 SE 188TH PL 98058,12713,,SE,188TH,PL,,98058,1.0,7,0,1300,0,0,0,0,0,2050,1250,750,6,500,0,Y,0,0,260,5,2,0,N,4,1,1,1,0,1,0,1,1967,0,0,0,0,4,0

In [76]:
record_deets(parceldf, 98400, 380)

,Major,Minor,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,QuarterSection,PropType,Area,SubArea,SpecArea,SpecSubArea,DistrictName,LevyCode,CurrentZoning,HBUAsIfVacant,HBUAsImproved,PresentUse,SqFtLot,WaterSystem,SewerSystem,Access,Topography,StreetSurface,RestrictiveSzShape,InadequateParking,PcntUnusable,Unbuildable,MtRainier,Olympics,Cascades,Territorial,SeattleSkyline,PugetSound,LakeWashington,LakeSammamish,SmallLakeRiverCreek,OtherView,WfntLocation,WfntFootage,WfntBank,WfntPoorQuality,WfntRestrictedAccess,WfntAccessRights,WfntProximityInfluence,TidelandShoreland,LotDepthFactor,TrafficNoise,AirportNoise,PowerLines,OtherNuisances,NbrBldgSites,Contamination,DNRLease,AdjacentGolfFairway,AdjacentGreenbelt,HistoricSite,CurrentUseDesignation,NativeGrowthProtEsmt,Easements,OtherDesignation,DeedRestrictions,DevelopmentRightsPurch,CoalMineHazard,CriticalDrainage,ErosionHazard,LandfillBuffer,HundredYrFloodPlain,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems
281375,98400,380,,BOULEVARD LANE DIV NO. 01,38,,5,23,33,SE,R,51.0,6.0,NaN,NaN,KING COUNTY,5103,R6,1,1,2,8643,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N

---

# FSM

In [308]:
all_residential.columns

Index(['ExciseTaxNbr', 'Major', 'Minor', 'DocumentDate', 'SalePrice',
       'PropertyType', 'PrincipalUse', 'SaleInstrument', 'AFHistoricProperty',
       'SaleReason', 'PropName', 'PropType', 'PresentUse', 'SqFtLot',
       'WfntLocation', 'TrafficNoise', 'AirportNoise', 'PowerLines',
       'OtherNuisances', 'NbrLivingUnits', 'ZipCode', 'SqFt1stFloor',
       'SqFt2ndFloor', 'SqFtUpperFloor', 'SqFtUnfinFull', 'SqFtTotLiving',
       'SqFtTotBasement', 'SqFtFinBasement', 'SqFtGarageBasement',
       'SqFtGarageAttached', 'SqFtOpenPorch', 'SqFtEnclosedPorch', 'SqFtDeck',
       'Bedrooms', 'BathHalfCount', 'BathFullCount'],
      dtype='object')

In [309]:
f = 'SalePrice~SqFtTotLiving'
model = ols(formula=f, data=all_residential)
results = model.fit()

results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.048
Model:                            OLS   Adj. R-squared:                  0.048
Method:                 Least Squares   F-statistic:                 4.902e+04
Date:                Tue, 29 Sep 2020   Prob (F-statistic):               0.00
Time:                        16:45:20   Log-Likelihood:            -1.4771e+07
No. Observations:              966321   AIC:                         2.954e+07
Df Residuals:                  966319   BIC:                         2.954e+07
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept     -2.165e+04   2582.730     -8.384      0.000   -2.67e+04   -1.66e+04
SqFtTotLiving   240.3744      1.086    221.406      0.000     238.247     242.502
==============================================================================
Omnibus:                  2198175.835   Durbin-Watson:                   0.465
Prob(Omnibus):                  0.000   Jarque-Bera (JB):     125427183274.789
Skew:                          20.961   Prob(JB):                         0.00
Kurtosis:                    1767.486   Cond. No.                     5.74e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.74e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""